include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include edoor *.css
recursive-include edoor *.csv
recursive-include edoor *.html
recursive-include edoor *.ico
recursive-include edoor *.js
recursive-include edoor *.json
recursive-include edoor *.md
recursive-include edoor *.png
recursive-include edoor *.py
recursive-include edoor *.svg
recursive-include edoor *.txt
recursive-exclude edoor *.pyc