<div class="container" style="background: #f5f3f5;border-radius: 6px;padding:10px; ">  
    {% for s in summary %}
        <div class="row">
            <div class="col">{{s.account_code}} - {{s.account_name}}</div>
            <div class="col text-right"><strong>{{frappe.format(s.amount,{"fieldtype":"Currency"})}}</strong></div>
        </div>
        <hr/>
    {% endfor %}
    {% if total_amount.total_amount %}
    <div class="row">
        <div class="col">Total Amount</div>
        <div class="col text-right"><strong>{{frappe.format(total_amount.total_amount,{"fieldtype":"Currency"})}}</strong></div>
    </div>  
    {% endif %} 
</div>

