<div class="container" style="background: #f5f3f5;
    border-radius: 6px;padding:10px; ">  
    {% if doc %}
        {% if doc.discount_description %}
        <div class="row">
            <div class="col">{{doc.discount_description}}</div>
            <div class="col text-right"><strong>{{frappe.format(doc.discount,{"fieldtype":"Currency"})}}</strong></div>
        </div>
        {% endif %} 
        {% if doc.tax_1_description %}
        <div class="row">
            <div class="col">{{doc.tax_1_description}}</div>
            <div class="col text-right"><strong>{{frappe.format(doc.tax_1_amount,{"fieldtype":"Currency"})}}</strong></div>
        </div>
        {% endif %}
        {% if doc.tax_2_description %}
        <div class="row">
            <div class="col">{{doc.tax_2_description}}</div>
            <div class="col text-right"><strong>{{frappe.format(doc.tax_2_amount,{"fieldtype":"Currency"})}}</strong></div>
        </div>
        {% endif %}
        {% if doc.tax_3_description %}
        <div class="row">
            <div class="col">{{doc.tax_3_description}}</div>
            <div class="col text-right"><strong>{{frappe.format(doc.tax_3_amount,{"fieldtype":"Currency"})}}</strong></div>
        </div>
        {% endif %}
        {% if doc.bank_fee_description %}
        <div class="row">
            <div class="col">{{doc.bank_fee_description}}</div>
            <div class="col text-right"><strong>{{frappe.format(doc.bank_fee_amount,{"fieldtype":"Currency"})}}</strong></div>
        </div>
        {% endif %}
        {% if doc.discount_description || doc.tax_1_description || doc.tax_2_description || doc.tax_3_description || doc.bank_fee_description %} <hr/> {% endif %}
        <div class="row">
            <div class="col">Total Amount</div>
            <div class="col text-right"><strong>{{frappe.format(doc.total_amount,{"fieldtype":"Currency"})}}</strong></div>
        </div>  
    {%else%}
        {% for s in summary %}
            <div class="row">
                <div class="col">{{s.account_code}} - {{s.account_name}}</div>
                <div class="col text-right"><strong>{{frappe.format(s.amount,{"fieldtype":"Currency"})}}</strong></div>
            </div>
        {% endfor %}
        <hr/>
        {% if total_amount.total_amount || total_amount.total_sub_package_charge%} 
        {% var grand_total = total_amount.total_amount + total_amount.total_sub_package_charge %}
        <div class="row">
            <div class="col">Total Amount</div>
            <div class="col text-right"><strong>{{frappe.format(grand_total,{"fieldtype":"Currency"})}}</strong></div>
        </div>  
        {% endif %}
    {%endif%} 
</div>

