:root {
    --font-family: Poppins, sans-serif !important;
    --primary-font-weight: 400;
    --text-color: #364963;
    --primary-border-color: #4d40ca;
    --bg-mango-color: #4d40ca;
    --btn-border-color: #a0bde0;
    --bg-primary-color: #106ebe;
    --bg-btn-color: #3b82f6;
    --bg-btn-sec-color: #395173;
    --bg-warning-color: #fd952c;
    --bg-warning-hover: #fa8b1d;
    --bg-og-color: #ff5b00;
    --bg-og-color-hover: #f05502;
    --bg-danger-color: #e80000;
    --bg-amguest-color: #00cbd0;
    --bg-btn-green-color: #50ac58;
    --bg-btn-green-hover: #31b63c;
    --bg-gray-color: #e7e7e7;
    --text-color-btn: #000;
    --font-size: 13px;
    --bg-tb-color: #eaf0f5;
    --bg-card-info: #f4f5fa;
    --trash-can-bg: #e6e6e6;
    --bg-purple-cs: #4338ca;
    --bg-gray-10: #f0f0f0;
    --color-gray-100: #c4c4c4;
    --bg-color-teal: #14b8b1;
    --table-even-cell-color: #f2f2f2;

}
html {
    margin-bottom: 22px;
    overflow: hidden;
}
.border-gray-edoor-100 {
    border-color: var(--color-gray-100)
}

.bg-card-info {
    background-color: var(--bg-card-info);
}

.p-1px {
    padding: 2px;
}

.bg-border-color-teal {
    border-color: var(--bg-color-teal);
}

.text-color-teal-edoor {
    color: var(--bg-color-teal);
}

.bg-purple-cs {
    background-color: var(--bg-purple-cs);
    color: #fff;
}

.border-green-edoor {
    border-color: var(--bg-btn-green-color);
}

.color-purple-edoor {
    color: var(--bg-purple-cs);
}

.bg-system-date {
    background-color: var(--bg-mango-color);
}

.bg-amount__guest {
    background-color: var(--bg-amguest-color);
}

.bg-amount__guest.border-round {
    border-radius: 6px !important;
}

.prime-font-weight {
    font-weight: var(--primary-font-weight);
}

.header-bar {
    box-shadow: 0px 1px 2px rgba(25, 39, 52, 0.05), 0px 0px 4px rgba(25, 39, 52, 0.1);
    background-color: var(--bg-primary-color);
    height: 62.5px;
    position: fixed;
    z-index: 1000;
}

.text-color-btn {
    color: var(--text-color-btn);
}

.text-color-chart {
    color: var(--bg-btn-green-color);
}

.bg-gray-edoor {
    background-color: var(--bg-tb-color) !important;
}

.bg-gray-edoor-10 {
    background-color: var(--bg-gray-10) !important;
}

.btn-sec-edoor {
    background-color: var(--bg-btn-sec-color);
}

.btn-green-edoor {
    background-color: var(--bg-btn-green-color);
}

.bg-warning-edoor {
    background-color: var(--bg-warning-color);
}

.border-color-edoor {
    border-color: var(--btn-border-color);
}

.bg-og-edoor,.btn-close,.btn-close:hover,.btn-close:active {
    background-color: var(--bg-og-color) !important;
}

.primary-btn-edoor {
    background-color: var(--bg-btn-color);
}

.d-bg-edoor {
    background-color: var(--bg-primary-color);
}

.wrap-page-content {
    padding-top: 63px;
}

.wrapper-foot-deco {
    padding: 2px 0;
}

.wrapper-foot-deco p {
    font-weight: 300;
    font-size: 12px;
}

button:focus,
input:focus {
    box-shadow: unset !important;
}

.btn-grobe-set {
    border: var(--btn-border-color);
    background-color: var(--bg-btn-color);
}

button span {
    font-weight: unset !important;
}

.progress-bar .pi {
    font-size: 24px;
}

.wrap-pro-bar .progress-bar:not(:last-child) {
    border-right: 1px solid #ffffff2b;
}

.progress-bar img {
    height: 30px;
}

.top-pro-bar-cus .progress-bar:hover,
.top-pro-bar-cus .progress-bar.active {
    background-color: #2a4f7c !important;
}

.btn-search-top,
.btn-setting-top {
    font-size: 18px !important;
}

#overlay_menu_more,
#overlay_menu,
#overlay_menu_user,
.p-dialog {
    border-radius: 0 !important;
    border-top: 2px solid var(--primary-border-color) !important;
    background-color: rgb(255, 255, 255);
}

.tool__tip_custom .p-tooltip-text {
    background-color: rgb(255, 255, 255) !important;
    color: rgb(0, 0, 0) !important;
    border-radius: 0 !important;
}

.tool__tip_custom.p-tooltip-bottom .p-tooltip-arrow {
    border-bottom-color: #ccc !important;
}

.bg__primary-set {
    background-color: var(--bg-btn-color) !important;
    border: 1px solid var(--btn-border-color) !important;
}

.guest-user__pro {
    background-color: #2a7dc4;
}

.bg__primary-set .p-button-label {
    font-weight: unset !important;
}

button.p-button.btn-date__t {
    background-color: #fff;
    color: var(--text-color);
}

.btn-date__tt {
    background-color: var(--bg-btn-sec-color) !important;
    /* border: 1px solid var(--btn-border-color) !important; */
}

.btn-calendar__t .p-inputtext,
.btn-choose__pro {
    border-radius: 0 !important;
}

.btn-calendar__t input {
    text-align: center !important;
}

.btn-choose__pro {
    background-color: #2a7dc4 !important;
    border: #a0bde0 !important;
}

.landing-page-custom .btn-choose__pro,
.dialog_change_pro .btn-choose__pro {
    border: 1px solid var(--btn-border-color) !important;
    background: #ffffff !important;
    color: var(--text-color);
    border-radius: 6px !important;
    width: 150px;
    display: flex;
    justify-content: center;
}

.landing-page-custom .btn-choose__pro:hover,
.dialog_change_pro .btn-choose__pro:hover {
    color: #ffffff !important;
    background-color: var(--bg-mango-color) !important;
}

.h__between-content {
    margin-bottom: 7rem;
}

#overlay_menu {
    top: 63px !important
}

button.p-button:not(.p-0),
.btn-calendar__t input {
    font-size: 1.1rem !important;
    padding: 0.65rem 0.65rem !important;
    font-weight: var(--primary-font-weight) !important;
}

button.p-button.btn-date__t.active {
    background-color: var(--bg-btn-color) !important;
    color: #fff;
}

button.p-button.btn-date__t:hover {
    background-color: var(--bg-btn-color);
    border: 1px solid var(--btn-border-color);

}

.btn-inner-set-icon img {
    height: 16px;
}

.txt-st__det {
    font-weight: var(--primary-font-weight) !important;
}

.btn-calendar__t .p-button-icon-only {
    border-radius: 0 !important;
    background-color: var(--bg-btn-color) !important;
    border: unset !important;
}

.p-tabview-nav-content .p-tabview-nav {
    background-color: var(--bg-tb-color);
}

.p-tabview-nav-content {
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}

.landing-page-custom {
    height: 100vh;
}

.h-res__setting .p-icon {
    width: 1rem !important;
    height: 1rem !important;
}

.clan-grid-set .grid {
    margin: 0 !important;
}

.inner-fs button.p-button,
.btn-calendar__t input {
    padding: unset !important;
}

.night__btn_set .p-button {
    background: transparent;
    color: #000;
}

.night__btn_set .p-button.p-disabled {
    color: #ccc !important;
}

button.p-button,
.btn-calendar__t input {
    font-size: 1rem !important;
}

.night__btn_set .border-start-0 {
    border-left: 0 !important;
}

.night__btn_set .border-end-0 {
    border-right: 0 !important;
}

.n__re-custom .night__wfit {
    width: 25%;
}

.n__re-custom .arr_wfit {
    width: 37.5%;
}

label {
    font-weight: 500;
}

.auto__Com_Cus .p-autocomplete,
.auto__Com_Cus .p-autocomplete input,
.n__re-custom .w-full .p-autocomplete input,
.n__re-custom .w-full .p-autocomplete {
    width: 100%;
}


.n__re-custom button.p-button {
    padding-top: unset !important;
    padding-bottom: unset !important;
}


.n__re-custom .p-inputnumber-buttons-stacked .p-inputnumber-input {
    border-right: 0 !important;
}

.p-inputtext-pt {
    background: #ebf0f6;
    padding: 0.65625rem 0.65625rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
}

.tr-h__custom {
    background: var(--trash-can-bg);
    border: var(--trash-can-bg);
    color: var(--bg-btn-color);
    padding: .65rem 1.65rem !important;
}

.tr-h__custom span {
    font-size: 16px;
}

span.p-button-icon.pi.pi-ellipsis-h {
    font-size: 1.5rem;
}

.p-focus.p-inputwrapper-focus {
    outline: 0 !important;
    box-shadow: unset !important;
    border-color: var(--btn-border-color) !important;
}

.p-inputtext:enabled:focus {
    border-color: var(--btn-border-color);
    box-shadow: unset !important;
}

.p-datepicker-buttonbar button[aria-label="Clear"] {
    display: none !important;
}

.p-datepicker-buttonbar button[aria-label="Today"] {
    background: #EEF2FF;
    width: 100% !important;
}

.p-datepicker-buttonbar {
    justify-content: center !important;
}

.depart-arr.w-full.h-12.overflow-hidden input {
    height: 100%;
}

.auto__Com_Cus input {
    width: 100% !important;
}

.p-listbox .p-listbox-list {
    padding: 0;
}

.p-listbox-list-wrapper .border-b.border-color-edoor {
    padding-bottom: 0.5rem;
}

.p-inputnumber-buttons-stacked .p-inputnumber-input {
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
}

.p-inputnumber-button-group .p-button-icon-only {
    background: var(--bg-btn-color) !important;
}

.p-inputtext-pt,
.p-button.p-button-icon-only,
.p-inputtext-pt,
.p-inputtext-sm .p-inputtext {
    border-radius: 0.5rem;
}

.child-adults-txt input {
    width: 7rem;
}

.p-calendar-w-btn .p-inputtext {
    border-radius: .5rem 0 0 .5rem;
    border-right: 0;
}

.p-calendar-w-btn .p-datepicker-trigger {
    border: 0;
}

.das-calendar input {
    border: 0;
    border-radius: 0 !important;
}

.das-calendar input {
    border-right: 0 !important;
}

.tab-reserv-no .p-tabview .p-tabview-nav li .p-tabview-nav-link {
    padding: .6rem;
}

.icon-search>.p-autocomplete-input {
    background-image: url('../svg/search-svgrepo-com.svg');
    background-repeat: no-repeat;
    background-position-x: 4px;
    background-size: 20px;
    padding-left: 28px;
    background-position-y: center;
}

.p-inputnumber-buttons-stacked .p-inputnumber-button-group .p-button.p-inputnumber-button {
    border: 0;
}

.p-inputnumber-buttons-stacked .p-button.p-inputnumber-button-up {
    border-bottom: 1px solid var(--btn-border-color) !important;
}

.link_line_action {
    border: 1px dashed var(--bg-purple-cs);
    border-radius: 10px;
    padding: 0 5px;
    color: var(--bg-purple-cs);
    cursor: pointer;
    display: inline-block;
width: 100%;
}

.td_guest_cs hr {
    border-color: var(--btn-border-color);
}

.badge-td-guest,
.progress-perentage>.p-progressbar-value {
    background-color: var(--bg-color-teal);
    color: #fff;
}

.Arrival-bg .p-tabview-panel {
    background: var(--bg-card-info);
}

.number_action_line {
    border: 1px dashed var(--bg-purple-cs);
    border-radius: 10px;
    color: var(--bg-purple-cs);
    margin-right: -7px;
    padding: 0 8px;
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
}

.p-datatable .p-datatable-thead>tr>th {
    font-weight: 600 !important;
}

.icon-set-svg {
    height: 16px;
}

/* Start Customize Full calenda css */

.fc .fc-scrollgrid-section-header.fc-scrollgrid-section-sticky>* {
    top: 62px !important;
}
.fc .fc-scrollgrid-section-footer.fc-scrollgrid-section-sticky>* {
    bottom:20px !important;
}
.fc .fc-scrollgrid-section.fc-scrollgrid-section-body>* {
    padding-bottom:21px !important;
}
.doughnut__chart_ds{
    font-size: 3rem !important;
    top: 57% !important;
}
.p-listbox.p-focus{
    box-shadow: none;
}
.btn-si__icon{
    height: 10px
}
/* END Full calenda css */
.cs-badge-tran .p-badge.p-badge-warning{
    font-size: 0.7rem;
    min-width: 1rem;
    height: 1rem;
    line-height: 1rem;
}
.ress__list .p-datatable-tbody tr:nth-child(even){
    background: var(--table-even-cell-color) !important;
}
span.p-button-icon.pi.pi-ellipsis-v{
    font-size: 1.5rem;
}