{% var index = 1 %}
<div class="form-grid-container">
    <div class="form-grid">
        <div class="grid-heading-row" style="height: auto !important;">
            <div class="grid-row">
                <div class="data-row row">
                    <div class="col text-center" style="max-width: 3%;">
                        <span>No.</span>
                    </div> 
                    <div class="col" style="min-width: 8%;">RES STAY #</div>
                    <div class="col text-center" style="min-width: 14%;">Stay Date</div>
                    <div class="col text-center overflow-hidden" style="max-width: 4%;white-space: nowrap;text-overflow: ellipsis;">Nights</div>
                    <div class="col">Room</div>
                    <div class="col">Guest Name</div>
                    <div class="col text-center">Pax(A/C)</div>
                    <div class="col text-right">ADR</div>
                    <div class="col text-right">Total Rate</div>
                    <div class="col text-right">Debit</div>
                    <div class="col text-right">Credit</div>
                    <div class="col text-right">Balance</div>
                    <div class="col text-center">Status</div>
                    
                    
                </div>
            </div>
        </div>
        <div class="grid-body">
            <div class="rows"> 
                {% for d in data %}
                    {% var room_number_string = d.rooms %}
                    {% var room_number_array = room_number_string.split(',') %}
                    <div class="grid-row">
                        {% if d.is_master %}
                            <div class="data-row row" style="background: #ead6fd;">
                                <div class="col text-center" style="max-width: 3%;">{{index}}</div>
                                <div class="col" style="min-width: 8%;">
                                    <a style="border: 1px dashed #4338ca;border-radius: 10px;padding: 0 5px;color: #4338ca;cursor: pointer;display: inline-block;text-decoration: none;" href="/app/reservation-stay/{{d.name}}">{{d.name}}</a>
                                </div>
                                <div class="col text-center" style="min-width: 14%;">
                                    <div class="d-flex">{{ frappe.format(d.arrival_date,{"fieldtype":"Date"})}} &#8594; {{ frappe.format(d.departure_date,{"fieldtype":"Date"})}}</div>
                                </div>
                                <div class="col text-center" style="max-width: 4%;">{{d.room_nights}}</div>
                                <div class="col">
                                    {% for n in d.rooms_data %}
                                        <span>{{n.room_type_alias}}/{{n.room_number}}</span>,<br/>
                                    {% endfor %}
                                </div>
                                <div class="col">{{d.guest_name}}</div>
                                <div class="col text-center">{{d.adult}}/{{d.child}}</div>
                                <div class="col text-right">{{ frappe.format(d.adr,{"fieldtype":"Currency"})}}</div>
                                <div class="col text-right">{{ frappe.format(d.total_amount,{"fieldtype":"Currency"})}}</div>
                                <div class="col text-right">{{ frappe.format(d.total_debit,{"fieldtype":"Currency"})}}</div>
                                <div class="col text-right">{{ frappe.format(d.total_credit,{"fieldtype":"Currency"})}}</div>
                                <div class="col text-right">{{ frappe.format(d.balance,{"fieldtype":"Currency"})}}</div>
                                <div class="col text-center">
                                <div class="rounded p-1 text-white" style="background-color: {{d.status_color}};">{{d.reservation_status}}</div>
                                </div>
                            </div>
                        {% else %}
                            <div class="data-row row">
                                <div class="col text-center" style="max-width: 3%;">{{index}}</div>
                                <div class="col" style="min-width: 8%;">
                                    <a style="border: 1px dashed #4338ca;border-radius: 10px;padding: 0 5px;color: #4338ca;cursor: pointer;display: inline-block;text-decoration: none;" href="/app/reservation-stay/{{d.name}}">{{d.name}}</a>
                                </div>
                                <div class="col text-center" style="min-width: 14%;">
                                    <div class="d-flex">{{ frappe.format(d.arrival_date,{"fieldtype":"Date"})}} &#8594; {{ frappe.format(d.departure_date,{"fieldtype":"Date"})}}</div>
                                </div>
                                <div class="col text-center" style="max-width:4%;">{{d.room_nights}}</div>
                                <div class="col">
                                    {% for n in d.rooms_data %}
                                        <span>{{n.room_type_alias}}/{{n.room_number}}</span>,<br/>
                                    {% endfor %}
                                </div>
                                <div class="col">{{d.guest_name}}</div>
                                <div class="col text-center">{{d.adult}}/{{d.child}}</div>
                                <div class="col text-right">{{ frappe.format(d.adr,{"fieldtype":"Currency"})}}</div>
                                <div class="col text-right">{{ frappe.format(d.total_amount,{"fieldtype":"Currency"})}}</div>
                                <div class="col text-right">{{ frappe.format(d.total_debit,{"fieldtype":"Currency"})}}</div>
                                <div class="col text-right">{{ frappe.format(d.total_credit,{"fieldtype":"Currency"})}}</div>
                                <div class="col text-right">{{ frappe.format(d.balance,{"fieldtype":"Currency"})}}</div>
                                <div class="col text-center">
                                    <div class="rounded p-1 text-white" style="background-color: {{d.status_color}};">{{d.reservation_status}}</div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    {% var index = index + 1 %}
                {% endfor %} 
            </div>
        </div>
    </div>
</div>